## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

In [2]:
import pandas as pd
import numpy as np

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [3]:
groups=titanic_df.groupby('Pclass')
print(groups['Age'].mean())
for i in groups.groups.keys():
  print(groups.get_group(i)['Age'].isnull().sum())

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64
30
11
136

 `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [12]:
titanic_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [21]:
data['Embarked'].mode().iloc[0]

'S'

In [26]:
groups=titanic_df.groupby('Pclass')
new_df=pd.DataFrame(columns=titanic_df.columns)
for group,data in groups:
  m=data['Embarked'].mode()[0]
  data['Embarked'].fillna(m,inplace=True)
  new_df=pd.concat((data,new_df))
new_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:
groups=titanic_df.groupby('Pclass')  ##### iterating over groups won't let me change the dataframe cause it operates on the
                                     ##### copy of the dataframe you gotta apply function
for group,data in groups:
  mode=data['Embarked'].mode().iloc[0]
  data['Embarked'].fillna(mode)
  print(data['Embarked'].value_counts(ascending=True))

Embarked
Q      2
C     85
S    127
Name: count, dtype: int64
Embarked
Q      3
C     17
S    164
Name: count, dtype: int64
Embarked
C     66
Q     72
S    353
Name: count, dtype: int64

* Nan value is not updated in the dataframe in the above approach.

In [ ]:
# Updated Code : Approach 1
titanic_df1 = titanic_df.copy(True)
# Step 1: Group by 'Pclass' and fill missing values in 'Embarked' with the mode value of that group
titanic_df1['Embarked'] = titanic_df1.groupby('Pclass')['Embarked'].transform(lambda x: x.fillna(x.mode()[0]))
# Step 2: Print the value counts of 'Embarked' for each group in ascending order
grouped = titanic_df1.groupby('Pclass')[['Embarked']]
grouped.value_counts().sort_index(ascending=True)

Pclass  Embarked
1       C            85
        Q             2
        S           129
2       C            17
        Q             3
        S           164
3       C            66
        Q            72
        S           353
Name: count, dtype: int64

In [ ]:
# Updated Code : Approach 2
titanic_df2 = titanic_df.copy(True)
pclass_groups=titanic_df2.groupby('Pclass')
for group in list(pclass_groups.groups.keys()):
    mode_val=pclass_groups.get_group(group)['Embarked'].mode()
    titanic_df2.loc[pclass_groups.get_group(group).index, 'Embarked'] = pclass_groups.get_group(group)['Embarked'].fillna(mode_val[0])
    print(pclass_groups.get_group(group)['Embarked'].value_counts())

Embarked
S    129
C     85
Q      2
Name: count, dtype: int64
Embarked
S    164
C     17
Q      3
Name: count, dtype: int64
Embarked
S    353
Q     72
C     66
Name: count, dtype: int64

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [ ]:
group=titanic_df.groupby(['Embarked','Pclass'])
group['Fare'].mean()

Embarked  Pclass
C         1         104.718529
          2          25.358335
          3          11.214083
Q         1          90.000000
          2          12.350000
          3          11.183393
S         1          70.364862
          2          20.327439
          3          14.644083
Name: Fare, dtype: float64

In [ ]:
# code here
my_dict = {}

embarked_groups = titanic_df.groupby("Embarked")
for embarked_group in list(embarked_groups.groups.keys()):
    pclass_groups = embarked_groups.get_group(embarked_group).groupby("Pclass")
    my_dict[embarked_group] = {}
    for pclass_group in list(pclass_groups.groups.keys()):
        my_dict[embarked_group][pclass_group] = round(pclass_groups.get_group(pclass_group)["Fare"].mean(), 2)
my_dict

{'C': {1: 104.72, 2: 25.36, 3: 11.21},
 'Q': {1: 90.0, 2: 12.35, 3: 11.18},
 'S': {1: 70.36, 2: 20.33, 3: 14.64}}

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

In [28]:
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")

In [29]:
fifa_df.columns

Index(['Sl. No', 'Match No.', 'Team', 'Against', 'Group', 'Goal',
       'Possession (%)', 'Inside Penalty Area', 'Outside Penalty Area',
       'Assists', 'Total Attempts', 'On Target', 'Off Target',
       'Target in Penalty', 'Target from Outside', 'Left Channel',
       'Left Inside Channel', 'Central Channel', 'Right Inside Channel',
       'Right Channel', 'Receptions MD', 'Receptions D',
       'Attempted Line Breaks', 'Completed Line Breaks',
       'Attempted Defensive Line Breaks', 'Completed Defensive Line Breaks',
       'Yellow Cards', 'Red Cards', 'Fouls Against', 'Offsides', 'Passes',
       'Passes Completed', 'Crosses', 'Crosses Completed', 'Corners',
       'Free Kicks', 'Penalties Scored', 'Pts'],
      dtype='object')

In [39]:
s=(fifa_df['Passes']-fifa_df['Passes'].mean())/(fifa_df['Passes'].std())

-3.469446951953614e-18

In [46]:
fifa_df['Passes'].sum()

64366

In [47]:
t=fifa_df.groupby('Team')
new_df=pd.DataFrame(columns=fifa_df.columns)
for group,data in t:
  std=data['Passes'].std()
  mean=data['Passes'].mean()
  data['normalized_passes'] = ((data['Passes']-mean)/(std))
  new_df=pd.concat((new_df,data))
new_df

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts,normalized_passes
8,9,5,Argentina,Saudi Arabia,C,1,51,1,0,0,...,10,593,525,36,15,9,21,1,0,-0.208138
46,47,24,Argentina,Mexico,C,2,50,1,1,2,...,2,533,464,14,2,4,23,0,3,-0.630447
77,78,39,Argentina,Poland,C,2,67,1,1,2,...,0,862,814,22,5,9,5,0,3,1.685214
98,99,50,Argentina,Australia,C,2,53,2,0,1,...,4,711,635,6,1,1,15,0,3,0.622403
115,116,58,Argentina,Netherlands,C,2,44,2,0,1,...,2,603,511,16,4,8,30,5,3,-0.137753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,64,32,Uruguay,Portugal,H,0,35,0,0,0,...,0,390,306,18,5,2,13,0,0,-0.931702
89,90,45,Uruguay,Ghana,H,2,39,2,0,1,...,2,446,361,15,4,2,20,0,3,-0.124867
7,8,4,Wales,United States,B,1,39,1,0,0,...,1,409,321,15,6,3,15,1,1,-0.054584
32,33,17,Wales,Iran,B,0,51,0,0,0,...,2,508,413,20,5,2,12,0,1,1.026174
68,69,35,Wales,England,B,0,33,0,0,0,...,1,325,261,4,1,1,10,0,0,-0.971590

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [ ]:
# code here
def z_normalization(group, cols_to_perform):
    for col in cols_to_perform:
        std = group[col].std()
        mean = group[col].mean()
        group[f"{col}_z_norm"] = (group[col] - mean)/std
    return group


cols_to_perform = ["Passes", "Passes Completed", "Attempted Line Breaks", "Completed Line Breaks"]
groups = fifa_df.groupby("Team")
groups = groups.apply(z_normalization, cols_to_perform = cols_to_perform).groupby("Team")
groups.agg(
{
    "Passes": ["min", "max"],
    "Yellow Cards": ["min", "max", "mean"],
    "Attempted Line Breaks": ["max", "min", "std"],
    "Possession (%)": "mean"
})

ValueError: 'Team' is both an index level and a column label, which is ambiguous.

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
balls = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Colab_Files_Data/Python/DataFrames/ipl_deliveries.csv")

### `Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [ ]:
temp_df=balls[balls['innings']==2]
temp_df.groupby(['batter','ID'])['batsman_run'].sum().sort_values(ascending=False).head(1)

batter       ID
PC Valthaty  501206    120
Name: batsman_run, dtype: int64

In [ ]:
#2
temp_df = df[~(df.extra_type == "wides")]
temp_df = temp_df.groupby("batter").agg(
{
    "batsman_run": "sum",
    "ballnumber": "count"
})
temp_df["strike_rate"] = temp_df["batsman_run"] / temp_df["ballnumber"] * 100
temp_df[temp_df["ballnumber"] >= 100].sort_values("strike_rate", ascending = False).reset_index().head()

           batter  batsman_run  ballnumber  strike_rate
0      PJ Cummins          222         114   194.736842
1      AD Russell          986         570   172.982456
2  LS Livingstone          182         107   170.093458
3       SP Narine          599         356   168.258427
4      SO Hetmyer          330         200   165.000000

### `Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [ ]:
balls['isWicketDelivery'].sum()

11151

In [ ]:
# code here

balls["IsBatterOut"] = (balls.batter == balls.player_out)&(~balls.kind.isin(['run out', 'retired hurt', 'retired out']))
balls.groupby(["bowler", "batter"]).agg({
    "IsBatterOut": "sum",
    "batsman_run": "sum"
}).sort_values(by=["IsBatterOut", "batsman_run"], ascending = [False, True]).head(10)

                           IsBatterOut  batsman_run
bowler         batter
Z Khan         MS Dhoni              7           74
Sandeep Sharma V Kohli               7           78
A Mishra       RG Sharma             7           87
R Ashwin       RV Uthappa            7          123
SP Narine      RG Sharma             7          137
R Vinay Kumar  RG Sharma             6           22
YS Chahal      Q de Kock             6           44
JJ Bumrah      RR Pant               6           48
RA Jadeja      GJ Maxwell            6           49
MM Sharma      AT Rayudu             6           52

### `Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [ ]:
# code here
def func(x):
    return '-'.join(list(np.sort(x.values)))
balls["batter-pair"] = balls[["batter", "non-striker"]].apply(func, axis = 1)
balls.groupby("batter-pair")["total_run"].sum().sort_values(ascending = False).head()

batter-pair
AB de Villiers-V Kohli    3134
CH Gayle-V Kohli          2802
DA Warner-S Dhawan        2357
G Gambhir-RV Uthappa      1906
KL Rahul-MA Agarwal       1731
Name: total_run, dtype: int64

### `Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [ ]:
# code here
temp_df = balls.groupby("batter-pair").agg(
{
    "total_run": "sum",
    "ballnumber": "count",
    "isWicketDelivery": "sum"
}).reset_index()
temp_df["Batsman 1"] = temp_df["batter-pair"].apply(lambda x: x.split("-")[0])
temp_df["Batsman 2"] = temp_df["batter-pair"].apply(lambda x: x.split("-")[1])
temp_df.rename(columns = {"total_run": "Runs"}, inplace=True)
temp_df["StrikeRate"] = temp_df["Runs"] / temp_df["ballnumber"] * 100
temp_df["Avg"] = temp_df["Runs"] / temp_df["isWicketDelivery"]
temp_df.sort_values("Runs", ascending = False, inplace=  True)
temp_df[["Batsman 1", "Batsman 2", "Runs", "Avg", "StrikeRate"]]

           Batsman 1        Batsman 2  Runs        Avg  StrikeRate
302   AB de Villiers          V Kohli  3134  44.140845  152.209811
1251        CH Gayle          V Kohli  2802  52.867925  142.017233
1508       DA Warner         S Dhawan  2357  48.102041  136.637681
1954       G Gambhir       RV Uthappa  1906  39.708333  133.754386
2803        KL Rahul       MA Agarwal  1731  52.454545  142.939719
...              ...              ...   ...        ...         ...
350   AD Mascarenhas  Gurkeerat Singh     0   0.000000    0.000000
3552     NLTC Perera         RV Gomez     0   0.000000    0.000000
2270   Iqbal Abdulla         TS Mills     0   0.000000    0.000000
3556      NM Coulter             Nile     0   0.000000    0.000000
2928    Kartik Tyagi   Shashank Singh     0   0.000000    0.000000

[4259 rows x 5 columns]